@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,600;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

h3 {
  color: #444444;
  text-transform: capitalize;
  font-weight: 600;
}

h2 {
  color: #6cc0f7;
  text-transform: capitalize;
  width: 100%;
  border-bottom: 3px solid #6cc0f7;
  font-size: 32px;
  font-weight: 600;
}

@media (min-width: 300px) {
  .grid-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    row-gap: 0;
    -webkit-column-gap: 0;
            column-gap: 0;
    padding: 2%;
  }
  .grid-gallery .gallery-bottom {
    padding: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
  }
  .grid-gallery .gallery-bottom h3 {
    padding: 5% 0%;
  }
  .grid-gallery .gallery-bottom aside {
    width: 310px;
    height: 250px;
    background: url("https://dummyimage.com/310x250/000/0011ff");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  [class*="gallery-box-"] {
    padding-left: 3%;
    padding: 5%;
    background-color: #e9e9e9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    row-gap: 0;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  .subscribe {
    background-color: #6cc0f7;
    color: white;
    padding: 5%;
    border-width: 2vh;
    border-style: solid;
    border-color: white;
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    row-gap: 0;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  .subscribe > h2 {
    width: 80%;
    padding: 15% 0%;
    text-align: center;
    color: white;
  }
  .subscribe > p {
    padding: 1%;
    text-align: center;
  }
  .subscribe > form {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    row-gap: 20px;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  .subscribe [type="email"] {
    width: 90%;
    padding: 4%;
    color: white;
    background-color: #9cd5fa;
  }
  .subscribe [type="email"]::-webkit-input-placeholder {
    color: white;
  }
  .subscribe [type="email"]:-ms-input-placeholder {
    color: white;
  }
  .subscribe [type="email"]::-ms-input-placeholder {
    color: white;
  }
  .subscribe [type="email"]::placeholder {
    color: white;
  }
  .subscribe [type="submit"] {
    width: 50%;
    padding: 3%;
    font-size: 90%;
    color: white;
    font-weight: 500;
    background-color: #6cc0f7;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 0;
  }
  .contact {
    padding: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    row-gap: 0;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  .contact > p {
    width: 100%;
    text-align: center;
    padding: 10% 0% 10% 0%;
    font-size: 22px;
  }
  .contact > form {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    row-gap: 20px;
    -webkit-column-gap: 0;
            column-gap: 0;
    /*column gap*/
  }
  .contact [type="text"], .contact [type="email"], .contact textarea {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 0;
    font-family: "Josefin Sans", sans-serif;
    padding: 2.5%;
    width: 90%;
  }
  .contact textarea {
    height: 25vh;
  }
  .contact [type="submit"] {
    background-color: #6cc0f7;
    color: white;
    font-weight: 600;
    width: 90%;
    padding: 2.5%;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    row-gap: 50px;
    -webkit-column-gap: 0;
            column-gap: 0;
    /* 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        */
    background-color: #e9e9e9;
    padding: 2%;
    height: 30vh;
    color: #777777;
    /* row-gap: 50px; */
  }
  .footer .icons {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .icons a {
    color: #777777;
    text-decoration: none;
  }
}
/*# sourceMappingURL=style.css.map */